version: "3"

services:
  nginx:
    container_name: spqm_nginx
    build:
      context: .
      dockerfile: ./nginx/Dockerfile.prod
    ports:
      - 80:80
    restart: always
    depends_on:
      - django

  django:
    container_name: spqm_django
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    command: sh -c 'python manage.py makemigrations && python manage.py migrate && gunicorn --bind 0.0.0.0:8000 spotifyquickmanager.wsgi'
    ports:
      - 8000:8000
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: spqm_postgres
    image: postgres:latest
    env_file:
      - ./backend/.env
    ports:
      - 5432:5432 
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 15
